// .red {
//     border: 1px solid red;
// }
// .blue {
//     border: 1px solid blue;
// }
.login-container {
    background-color: #f0f2f5;
    height: 100vh;
    .content-left {
        padding-top: 4rem;
        .content_brand {
            span {
                font-weight: 900;
                color: #1877f2;
                font-size: 3rem;
            }
        }
        .content_detail {
            span {
                font-size: 1.35rem;
                word-spacing: -0.06rem;
            }
        }
    }
    .content-right {
        border: 1px solid rgb(216, 216, 233);
        background-color: #fff;
        border-radius: 10px;
        box-shadow:
            0 2px 4px rgba(0, 0, 0, 0.1),
            0 8px 16px rgba(0, 0, 0, 0.1);
        span {
            .forgot_pass {
                text-decoration: none;
                &:hover {
                    text-decoration: block;
                }
            }
        }
        .content-right-title {
            color: #bac6d8;
        }
    }
}
